DATABASE_URL=YOUR_DATABASE_URL_HERE
SECRET_KEY=YOUR_BACKEND_SECRET_KEY
FIELD_ENCRYPTION_KEY=YOUR_FIELD_ENCRYPTION_KEY
DEBUG=DEBUG_VALUE_HERE
DJANGO_SETTINGS_MODULE=SETTINGS_MODULE_VALUE_HERE

TEST_DATABASE_URL=YOUR_TEST_DATABASE_URL_HERE

S3_ENDPOINT_URL=YOUR_S3_ENDPOINT_URL_HERE
S3_REGION_NAME=YOUR_S3_REGION_NAME_HERE

SUPABASE_PROJECT_ID=YOUR_SUPABASE_PROJECT_ID_HERE
SUPABASE_SECRET_KEY=YOUR_SUPABASE_SECRET_KEY_HERE
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE
SUPABASE_BUCKET_NAME=YOUR_SUPABASE_BUCKET_NAME_HERE

WHAPI_API_KEY=YOUR_WHAPI_API_KEY_HERE
WHAPI_BASE_URL=WHAPI_BASE_URL_HERE

TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

STRIPE_PUBLIC_KEY=YOUR_STRIPE_PUBLIC_KEY_HERE
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY_HERE
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET_HERE

CELERY_BROKER_URL=YOUR_REDIS_URL_HERE

EMAIL_HOST_USER=YOUR_EMAIL_HOST_USER_HERE
EMAIL_HOST_PASSWORD=YOUR_EMAIL_HOST_PASSWORD_HERE

